  <nav>
    <section class="nav-wrap">
      <section class="burger-icon" id="menu-toggle">
        <section class="burger-line"></section>
        <section class="burger-line"></section>
        <section class="burger-line"></section>
      </section>
    </section>

    <a href="/" class="company-logo"><img src="../imgs/ML_strength_logo.png" id="company-logo" alt="company-logo"></a>  
    <ul id="menu-items">
      <li><a href="/" >Home</a></li>
      <li><a href="/html/about.html" class="nav-link">About</a></li>
      <li><a href="/html/classes.html" class="nav-link">Classes</a></li>
      <li><a href="/html/membership.html" class="nav-link">Membership</a></li>
      <li><a href="/html/contact.html" class="nav-link">Contact</a></li>
      <li><a href="/html/classes.html" class="nav-link-book">BOOK</a></li>
    </ul>
</nav>